/* custom properties */
:root {
  --dark: 230 35% 7%;

  --gap: 2rem;
}

/* box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* reset default styles */
body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  font-weight: 400;
}

/* Set up body */
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Make forms easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* For screen-reader assistance */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Utility classes */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
.container {
  padding-inline: 2em;
  margin-inline: auto;
}

/* colors */
.bg-dark {
  background-color: hsl(var(--dark));
}
.text-dark {
  color: hsl(var(--dark));
}
.bg-grey {
  background-color: #f9f9f9;
}
.logo {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(var(--dark));
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
